* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header {
    min-height: 400px;
    background-color: #1f2937;
}

.restricted-width {
    margin: 0 auto;
    max-width: 1100px;
}

.header-flex {
    display: flex;
    flex-direction: column;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header-nav h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-nav ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    margin-top: 20px;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 500px;
    padding-left: 0px;
}

#header-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#header-sign-up{
    padding: 10px;
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: none;
    width: 100px;
}

#header-sign-up:hover {
    cursor: pointer;
}

#header-image {
    height: 250px;
    width: 400px;
}

.section-one {
    min-height: 400px;
}

.guarantee {
    width: fit-content;
    margin: 0 auto;
    padding: 48px;
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.section-one-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.section-one-card {
    flex: 1 0 100;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    margin-right: 40px;
    align-items: center;
}

.section-one-card-img {
    height: 200px;
    width: 200px;
}

.section-one-text {
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

#section-one-card-unlimited{
    height: 200px;
    width: 200px;
}

.section-two {
    background-color: #E5E7EB;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-review {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 500px;
}

.section-two-reviewer {
    padding-top: 20px;
    font-size: 20px;
    color: #1F2937;
    font-weight: bolder;
}